/*Estilos Generales*/
* {
	padding: 0;
	margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
body {
	font-family: "Alata", sans-serif;
	color: rgb(220 53 69);
	background-color: black;
}
/*HEADER*/
.encabezado {
	background-color: blue;
	display: flex;
	justify-content: space-between;
	position: sticky;
}

.offcanvas-body ul li a:hover {
	background-color: rgb(220 53 69) !important;
	color: black !important;
	border-radius: 20% !important;
}
div.container-fluid a.navbar-brand button.navbar-toggler {
	color: rgb(220 53 69);
}
/*PAG DE INICIO*/
.inicio {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

div img {
	position: static;
}
.inicio__actividades {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	align-content: space-around;
	background-color: black;
	color: rgb(220 53 69);
}

main {
	text-decoration: none;
	background-color: black;
	color: rgb(220 53 69);
	text-align: center;
	line-height: 222%;
}
main form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
}
.inicio__menu form ul {
	list-style: none;
}
.inicio__menu form ul li label {
	margin-top: 7px;
	margin-bottom: 7px;
}
.inicio__menu form ul li button {
	margin-top: 7px;
	margin-bottom: 7px;
}
h5 {
	font-size: 2.3rem;
}
p {
	font-size: 1.3rem;
}
/*PAG DE ACTIVIDADES*/
.actividades {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 10px;
	row-gap: 10px;
}
.actividades div {
	text-align: center;
	color: rgb(220 53 69);
}
.actividades div:hover {
	filter: saturate(180%);
}

/*PÁG DE ASOCIATE*/
.asociate {
	background-color: black;
}

h2 {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
.datospersonales {
	text-align: center;
	color: rgb(220 53 69) !important;
}

.NombreMail {
	margin: 30px;
	padding: 30px;
	color: rgb(220 53 69);
	background-color: black;
}
.NombreMail ul li {
	display: flex;
	line-height: 227%;
}
.elegiSedes li {
	text-decoration: none;
	display: inline-flex;
	text-align: center;
	white-space: pre-line;
}
.elegiSedes li input {
	text-align: center;
	margin-left: 10px;
}
.elegiSedes li iframe {
	display: inline-flex;
	width: 150px;
	height: 150px;
	margin-bottom: 7px;
	margin-right: 15px;
}
form div a {
	margin-top: 6px;
}

/*PÁG SEDES*/
.sedes ul li {
	text-decoration: none;
	display: inline-flex;
}
.sedes ul li {
	margin: 30px;
}
.sedes ul li iframe {
	width: 180px;
	height: 180px;
}
iframe {
	border-radius: 50%;
}
/*PÁG DE CONTACTO*/
.menuContacto {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
}
.consulta {
	display: grid;
}
/*PIE DE PÁGINA*/
.pie {
	background-color: black;
	display: flex;
	justify-content: space-around;
	justify-items: center;
	align-items: baseline;
}

/* MEDIA QUERIES */

/* Tablet */
@media only screen and (max-width: 768px) {
	/* HEADER */
	.encabezado .encabezado__menuPrincipal {
		display: flex;
		list-style: none;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	}
	/* INICIO */
	/* ACTIVIDADES */
	.actividades {
		grid-template-columns: 1fr;
	}
}

/* Mobile */

@media only screen and (max-width: 576px) {
	/* HEADER */
	.container-fluid img {
		width: 250px;
		height: 250px;
	}
	/* INICIO */
	.inicio {
		display: grid;
		grid-template-columns: 1fr;
	}
	/* ACTIVIDADES */
	.actividades {
		grid-template-columns: 1fr;
	}
	.actividades div img {
		object-fit: cover;
	}
	/* CONTACTO */
	.menuContacto {
		display: flex;
	}
	.consulta {
		display: grid;
		justify-items: center;
	}
	/* ASOCIATE */
	.elegiSedes li {
		flex-direction: column;
	}
	.d-flex {
		display: flex !important;
		flex-direction: column;
	}
	.elegiSedes ul {
		padding-left: 3rem;
	}
	/* FOOTER */
	.pie {
		flex-wrap: wrap-reverse;
		justify-content: center;
	}
	.pie__publicidadMP {
		display: none;
	}
	.pie__publicidadMIR {
		display: none;
	}
}
