.actividades {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	column-gap: 10px;
	row-gap: 10px;
	margin-bottom: $mbSecciones;
	div {
		text-align: center;
		color: $naranjaGoForGym;
		img {
			object-fit: cover;
			width: 100%;
		}
		:hover {
			filter: saturate(180%);
		}
		p {
			font-size: 1.5rem;
			color: bisque;
		}
	}
}
