.asociate__banner {
	background-image: url(../images/banner-asociate.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 60vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.asociate {
	background-color: black;
	margin-bottom: $mbSecciones;
	h2 {
		text-align: center;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.datospersonales {
		text-align: center;
	}
}
.elegiSedes li {
	text-decoration: none;
	display: inline-flex;
	text-align: center;
	white-space: pre-line;
}
iframe {
	display: inline-flex;
	width: 150px;
	height: 150px;
	margin-bottom: 7px;
	margin-right: 15px;
	border-radius: 50%;
	transition: all 1s;
	&:hover {
		transform: rotateY(360deg);
	}
}
input {
	text-align: center;
	margin-left: 20px;
	color: bisque;
}

form div {
	a {
		margin-top: 6px;
	}
	label {
		color: bisque;
	}
}
