.inicio {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	text-decoration: none;
	background-color: black;
	color: $naranjaGoForGym;
	text-align: center;
	line-height: 222%;
	margin-bottom: $mbSecciones;
}
/* main {
	text-decoration: none;
	background-color: black;
	color: rgb(220 53 69);
	text-align: center;
	line-height: 222%;
} */
main form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
}
.inicio__menu form ul {
	list-style: none;
}
.inicio__menu form ul li label {
	margin-top: 7px;
	margin-bottom: 7px;
}
.inicio__menu form ul li button {
	margin-top: 7px;
	margin-bottom: 7px;
}
.inicio__carousel {
	margin-top: 20px;
}
h5 {
	font-size: 0.5rem;
}
p {
	font-size: 0.1rem;
}
