.sedes {
	margin-bottom: $mbSecciones;
	& h2 {
		text-align: center;
	}
}
.sedes__iframes {
	display: flex;
	justify-content: space-around;
	margin-top: 70px;
	& li {
		list-style: none;
		iframe {
			border-radius: 50%;
			@include sizes(180px, 180px);
			transition: all 1s;
			&:hover {
				transform: rotateX(360deg);
			}
		}
	}
}
.sedes__banner {
	background-image: url(../images/banner-sedes.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 60vh;
}
