/* variables */
$naranjaGoForGym: rgb(220 53 69);
$mbSecciones: 50px;

/* mixings */
@mixin flex-column {
	display: flex;
	flex-direction: column;
}

@mixin sizes($width, $height) {
	width: $width;
	height: $height;
}

@import "index";
@import "actividades";
@import "asociate";
@import "sedes";
@import "contacto";

/*Estilos Generales*/
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
* {
	padding: 0;
	margin: 0;
}

body {
	font-family: "Alata", sans-serif;
	color: $naranjaGoForGym;
	background-color: black;
}
/*HEADER*/
.navbar {
	position: sticky;
	top: 0px;
	z-index: 100;
	background-color: black;
}
.offcanvas-body ul li a:hover {
	background-color: $naranjaGoForGym !important;
	color: black !important;
	border-radius: 20% !important;
}
div.container-fluid a.navbar-brand button.navbar-toggler {
	color: $naranjaGoForGym;
}

/*PIE DE PÁGINA*/

.pie {
	background-color: black;
	color: $naranjaGoForGym;
	display: grid;
	grid-template-columns: repeat(3, 2fr);
	justify-items: center;
	border-top: 1px solid white;
	& h2 a {
		text-decoration: none;
		color: $naranjaGoForGym;
	}
	.pie__redes {
		display: flex;
		justify-content: space-around;
		& svg {
			margin: 40px;
			color: $naranjaGoForGym;
		}
	}
}
.pie__paginas {
	@include flex-column;
	align-items: flex-end;
	justify-content: flex-end;
	margin-top: 10px;
	& ul {
		list-style: none;
		display: flex;
		flex-direction: column-reverse;
		font-size: 0.7rem;
	}
	& h3 {
		font-size: 1.3rem;
		text-align: end;
	}
}
.pie__legales {
	@include flex-column;
	justify-content: flex-end;
	& p {
		font-size: 0.7rem;
	}
}

/* MEDIA QUERIES */

/* Tablet */
@media (min-width: 767px) and (max-width: 1024px) {
	/* HEADER */
	.encabezado .encabezado__menuPrincipal {
		@include flex-column;
		list-style: none;
		align-items: center;
		justify-content: space-evenly;
	}
	/* INICIO */
	.inicio {
		background-image: url(../images/imagen-index.jpg);
		height: 129vh;
		background-repeat: no-repeat;
		display: flex;
		margin-bottom: -394px;
		& h1 {
			text-align: center;
			& h2 {
				width: auto;
				text-align: center;
			}
		}
	}
	.inicio__content {
		@include flex-column;
		align-items: center;
	}
	/* ACTIVIDADES */
	.actividades {
		grid-template-columns: 1fr;
		grid-template-rows: 6fr;
	}
	/* SEDES */
	.sedes__banner {
		background-image: url(../images/banner-sedes-tablet.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		height: 60vh;
	}
}

/* Mobile */

@media (min-width: 320px) and (max-width: 767px) {
	/* HEADER */
	.container-fluid img {
		width: 120px;
		height: 120px;
	}

	/* INICIO */
	.inicio {
		background-image: url(../images/imagen-index-mobile1.jpg);
		height: 87vh;
		background-size: 100%;
		background-repeat: no-repeat;
		@include flex-column;
		align-items: stretch;
		margin-bottom: -100px;
		& h1 {
			text-align: center;
			width: 60%;
			margin-left: 45px;
		}
		& h2 {
			width: 93%;
			text-align: center;
		}
	}
	.inicio__content {
		@include flex-column;
		align-items: center;
		.inicio__quienes-somos {
			width: 100%;
		}
	}
	.inicio__quienes-somos p {
		text-align: center;
		padding: 10px 25px;
	}
	/* ACTIVIDADES */
	.actividades {
		grid-template-columns: 1fr;
		grid-template-rows: 6fr;
		margin-right: 15px;
		margin-left: 15px;
	}
	.actividades div img {
		object-fit: cover;
		width: 100%;
	}
	/* SEDES */
	.sedes {
		margin-top: 25%;
		h2 {
			text-align: center;
		}
	}
	.sedes__banner {
		background-image: url(../images/banner-sedes-mobile.jpg);
		background-repeat: no-repeat;
		height: 24vh;
		background-size: 100%;
		& h1 {
			font-size: inherit;
		}
	}
	.sedes__iframes {
		flex-direction: column;
	}
	/* CONTACTO */
	.contacto .contacto__banner {
		background-image: url(../images/banner-contacto-mobile.jpg);
		background-repeat: no-repeat;
		background-size: 100%;
		height: 22vh;
		& h1 {
			font-size: inherit;
		}
	}
	.contacto__form {
		@include flex-column;
		align-items: center;
		margin-top: 10%;
	}
	.contacto__parrafo {
		& h1 {
			font-size: inherit;
		}
		& p {
			font-size: inherit;
		}
	}
	.menuContacto {
		display: flex;
	}
	.consulta {
		display: grid;
		justify-items: center;
	}
	/* ASOCIATE */
	.asociate {
		margin-top: 20%;
	}
	.asociate__banner {
		background-image: url(../images/banner-asociate-mobile.jpg);
		background-repeat: no-repeat;
		background-size: 100%;
		height: 20vh;
		& h1 {
			margin-top: 30%;
			font-size: inherit;
		}
	}
	.elegiSedes li {
		flex-direction: column;
		align-items: center;
	}
	.d-flex {
		display: flex !important;
		flex-direction: column;
	}
	.row {
		flex-direction: column;
		align-items: center;
		margin-left: 0px;
	}
	.elegiSedes ul {
		padding-left: 3rem;
	}
	/* FOOTER */
	.pie {
		grid-template-columns: auto;
		border-top: 0.5px solid white;
	}
}
