@charset "UTF-8";
/* variables */
/* mixings */
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
.inicio {
  background-image: url(../images/imagen-index.jpg);
  background-size: 110%;
  background-repeat: no-repeat;
  height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  background-color: black;
  color: rgb(220, 53, 69);
  text-align: center;
  line-height: 222%;
  margin-bottom: 50px;
}
.inicio h1 {
  margin-left: 100px;
}
.inicio h2 {
  text-align: justify;
  color: bisque;
  width: 560px;
}

.inicio__carousel {
  width: 800px;
  height: 533px;
  margin-left: 30px;
}

.inicio__content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.inicio__quienes-somos {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inicio__content p {
  font-size: 1.1rem;
  text-align: justify;
  padding: 30px 50px;
  color: bisque;
}

.actividades {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 50px;
}
.actividades div {
  text-align: center;
  color: rgb(220, 53, 69);
}
.actividades div img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.actividades div :hover {
  filter: saturate(180%);
}
.actividades div p {
  font-size: 1.5rem;
  color: bisque;
}

.asociate__banner {
  background-image: url(../images/banner-asociate.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.asociate__banner h1 {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20%;
  width: 50%;
  margin-left: 5%;
}

.asociate {
  background-color: black;
  margin-bottom: 50px;
}
.asociate h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.asociate .datospersonales {
  text-align: center;
}

.row {
  margin-left: 222px;
}

.elegiSedes li {
  text-decoration: none;
  display: inline-flex;
  text-align: center;
  white-space: pre-line;
}

iframe {
  display: inline-flex;
  width: 150px;
  height: 150px;
  margin-bottom: 7px;
  margin-right: 15px;
  border-radius: 50%;
  transition: all 1s;
}
iframe:hover {
  transform: rotateY(360deg);
}

input {
  text-align: center;
  color: bisque;
}

form div a {
  margin-top: 6px;
}
form div label {
  color: bisque;
}

.sedes {
  margin-bottom: 50px;
}
.sedes h2 {
  text-align: center;
}

.sedes__iframes {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}
.sedes__iframes li {
  list-style: none;
}
.sedes__iframes li iframe {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  transition: all 1s;
}
.sedes__iframes li iframe:hover {
  transform: rotateX(360deg);
}

.sedes__banner {
  background-image: url(../images/banner-sedes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}
.sedes__banner h1 {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 5%;
  width: 50%;
  margin-left: 5%;
}

.contacto {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-bottom: 50px;
}
.contacto .contacto__banner {
  background-image: url(../images/banner-contacto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}
.contacto .contacto__banner h1 {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 5%;
  width: 50%;
  margin-left: 5%;
}
.contacto .contacto__form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.contacto .contacto__parrafo {
  width: 80%;
  text-align: center;
}
.contacto .contacto__parrafo p {
  font-size: 1.3rem;
  color: bisque;
}
.contacto .contacto__consulta {
  display: grid;
  margin-bottom: 50px;
}
.contacto .contacto__consulta button {
  margin-top: 10px;
}

/*Estilos Generales*/
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Alata", sans-serif;
  color: rgb(220, 53, 69);
  background-color: black;
}

/*HEADER*/
.navbar {
  position: sticky;
  top: 0px;
  z-index: 100;
  background-color: black;
}

.offcanvas-body ul li a:hover {
  background-color: rgb(220, 53, 69) !important;
  color: black !important;
  border-radius: 20% !important;
}

div.container-fluid a.navbar-brand button.navbar-toggler {
  color: rgb(220, 53, 69);
}

/*PIE DE PÁGINA*/
.pie {
  background-color: black;
  color: rgb(220, 53, 69);
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  justify-items: center;
  border-top: 1px solid white;
}
.pie h2 a {
  text-decoration: none;
  color: rgb(220, 53, 69);
}
.pie .pie__redes {
  display: flex;
  justify-content: space-around;
}
.pie .pie__redes svg {
  margin: 40px;
  color: rgb(220, 53, 69);
}

.pie__paginas {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 10px;
}
.pie__paginas ul {
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
  font-size: 0.7rem;
}
.pie__paginas h3 {
  font-size: 1.3rem;
  text-align: end;
}

.pie__legales {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.pie__legales p {
  font-size: 0.7rem;
}

/* MEDIA QUERIES */
/* Tablet */
@media (min-width: 767px) and (max-width: 1024px) {
  /* HEADER */
  .encabezado .encabezado__menuPrincipal {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
  }
  /* INICIO */
  .inicio {
    background-image: url(../images/imagen-index.jpg);
    height: 50vh;
    background-repeat: no-repeat;
    display: flex;
    margin-bottom: 20px;
  }
  .inicio h1 {
    text-align: center;
  }
  .inicio h1 h2 {
    width: auto;
    text-align: center;
  }
  .inicio__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* ACTIVIDADES */
  .actividades {
    grid-template-columns: 1fr;
    grid-template-rows: 6fr;
  }
  .actividades div img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 90%;
  }
  /* SEDES */
  .sedes__banner {
    /* background-image: url(../images/banner-sedes-tablet.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
  }
  /* CONTACTO */
  .contacto__form {
    width: 90%;
  }
  .contacto__form .contacto__parrafo {
    margin-left: 20px;
  }
  .contacto__form .contacto__consulta {
    margin-left: 10px;
  }
  /* ASOCIATE */
  .row {
    margin-left: 124px;
  }
}
/* Mobile */
@media (min-width: 320px) and (max-width: 767px) {
  /* HEADER */
  .container-fluid img {
    width: 120px;
    height: 120px;
  }
  /* INICIO */
  .inicio {
    background-image: url(../images/imagen-index-mobile1.jpg);
    height: 87vh;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: -100px;
  }
  .inicio h1 {
    text-align: center;
    width: 60%;
    margin-left: 10px;
  }
  .inicio h2 {
    width: 93%;
    text-align: center;
  }
  .inicio__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inicio__content .inicio__quienes-somos {
    width: 100%;
  }
  .inicio__quienes-somos p {
    text-align: center;
    padding: 10px 25px;
  }
  /* ACTIVIDADES */
  .actividades {
    grid-template-columns: 1fr;
    grid-template-rows: 6fr;
    margin-right: 15px;
    margin-left: 15px;
  }
  .actividades div img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  /* SEDES */
  .sedes {
    margin-top: 25%;
  }
  .sedes h2 {
    text-align: center;
  }
  .sedes__banner {
    background-image: url(../images/banner-sedes-mobile.jpg);
    background-repeat: no-repeat;
    height: 24vh;
    background-size: 100%;
  }
  .sedes__banner h1 {
    font-size: inherit;
  }
  .sedes__iframes {
    flex-direction: column;
  }
  /* CONTACTO */
  .contacto .contacto__banner {
    background-image: url(../images/banner-contacto-mobile.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 22vh;
  }
  .contacto .contacto__banner h1 {
    font-size: inherit;
  }
  .contacto__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
  }
  .contacto__parrafo h1 {
    font-size: inherit;
  }
  .contacto__parrafo p {
    font-size: inherit;
  }
  .menuContacto {
    display: flex;
  }
  .consulta {
    display: grid;
    justify-items: center;
  }
  /* ASOCIATE */
  .asociate {
    margin-top: 20%;
  }
  .asociate__banner {
    background-image: url(../images/banner-asociate-mobile.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 20vh;
  }
  .asociate__banner h1 {
    margin-top: 30%;
    font-size: inherit;
  }
  .elegiSedes li {
    flex-direction: column;
    align-items: center;
  }
  .d-flex {
    display: flex !important;
    flex-direction: column;
  }
  .row {
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
  }
  .elegiSedes ul {
    padding-left: 3rem;
  }
  /* FOOTER */
  .pie {
    grid-template-columns: auto;
    border-top: 0.5px solid white;
  }
}/*# sourceMappingURL=styles.css.map */